<div>
{% extends 'blog/base.html'%}

    {% block extrahead %}

<link rel="stylesheet" href="/test_blog/blog/static/about.css">

<link rel="stylesheet" href="/test_blog/blog/static/button.css">
<link rel="stylesheet" href="/test_blog/blog/static/main.css">

{% endblock %}
    {% block content%}
    <h1>Hello there!</h1>
    <h2 id="">Coming soon</h2>
    <link rel="stylesheet" href="/test_blog/blog/static/">
    <div class="game">
  <div class="rank">1</div>
<div class="front">
  <img src="/test_blog/blog/static/assets/Murka.png" alt="game">
  <h3 class="name">Drop us few lines</h3>
  <div class="status">
    <p class="viewers">14.5k$</p>
    <div class="streamers">
      <img src="/test_blog/blog/static/assets/Entrack.JPG" alt="">
      <img src="/test_blog/blog/static/assets/PuruRin gif.gif" alt="PuruRin">
    </div>
  </div>
</div>
<div class="back">
  <div class="streaming-info">
    <p class="game-stat">174.4k <span>Watching</span></p>
    <p class="game-stat">21 : 40<span>MSK</span></p>
  </div>
  <button class="btn">See more streams</button>
 <div class="streamers">
   <div class="streamer">
     <div class="icon">
       <img src="/test_blog/blog/static/assets/Entrack.JPG" alt="">
     </div>
   <p class="name">Entrack</p>
   <p class="number">4500$ / m.</p>
     </div>
    <div class="streamer">
      <div class="icon">
        <img src="/test_blog/blog/static/assets/PuruRin gif.gif" alt="PuruRin">
      </div>
   <p class="name">PuruRin</p>
   <p class="number">10k / m</p>
     </div>
     </div>
  </div>
  </div>
  <div class="backgroundWrapper"></div>
  </div>

    {%endblock content%}
     
</div>
   
