{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test_blog/blog/static/main.css">
    <title>Mildsēoc Murka Blog</title>
    {% block extrahead %}{% endblock %}
</head>
<body>
  <div>
    <nav class="menu-bar">
      <ul class="menu-bar">
        <a href="{% url 'blog-home'%}"><li class ="before">
          Verily, observe now</li></a>
        <a href="{%url 'blog-login'%}"><li class ="before">
          Participate</li></a>
          <a href="{%url 'blog-about'%}"><li class ="before">
            Asecgen</a>
          <a href="{% url 'blog-goods'%}"><li class ="before">
            Wares</li></a>
          <a href="{% url 'blog-godown'%}"><li class ="before">
            Godown</li></a>
            <a href="{% url 'blog-contacts'%}"><li class ="before">
              Address</li></a>
        </li>
      </ul>
    </nav>
    <div>
      
    {% block content %}
    {%endblock content%}
    </div>
  </div>
    


</body>
</html>