@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.button{
	display: inline-block;
	position: relative;
	overflow: hidden;
 	width: 200px;
	perspective:400px;
	background-color: transparent;
  
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
  
}
.button span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
  transform-style:preserve-3d;
	background-color: black;
	color: white;
  width: 100%;

}
.button span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
}

.button:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}